
/* !!!!!!!!!!NOTE - Redo code, add flex shrinks to divs?  keep content from flowing out of containers when shrinking page. Look at responsive web design again? */


*{
    box-sizing: border-box;
}

body {
    font-family: "roboto";
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #1f2937;
}

a{
    text-decoration: none;
}

.header-section a,
.hero-section{
    
    color: #e5e7eb;
    font-size: 18px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto 20px auto;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}
ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
}

.hero{
    display: flex;
    justify-content: center;
    margin: 70px auto;
    width: 900px;
    height: 250px;
    gap: 10px;
    /* border: 2px solid red; */
}
.hero-text{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid white; */
}

.hero a{
    border-radius: 5px;
    font-size: 16px;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 4px 20px;
    border-radius: 5px;
    margin-left: -20px;
}

.image{
    /* border: 2px solid white; */
    width: 50%;
    background-color: #6E7271;
    margin-left: 60px;
    flex-shrink: none;
}
.image img{
    height:100%;
    width: 100%;
}
h1{
    font-size: 48px;
    margin: 0;
    color: #f9faf8;
    font-weight: 800;
}

.action-container{
    color:#f9faf8;
    background-color: #3882f6;
}

/* info section--- */
.info-section{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.info-title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
}
.card-container{
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
article{
    height:200px;
    width: 150px;
    text-align: center;
    margin-top: -15px;
}
.card-image{
    border: 2px solid #3882f6;
    border-radius: 8px;
    width: 100%;
    height: 70%;
}
/* quote section */
.quote-section{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 200;
    font-style: italic;
}
.quote-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid blue; */
    margin: 100px auto;
}
.quote-section .quote{
    font-weight: 500;
    font-size: 20px;
    align-self: flex-end;
}
/* call to action section */
.action-section{
    background-color: white;
    display: flex;
    justify-content: center;
}

.action-container{
    display: flex;
    width: 60%;
    margin: 70px;
}
.action{
    margin: 0px 10px;
    padding: 20px 40px;
    /* border: 2px solid red; */
    color: #e5e7eb;
    font-weight: 300;
}
.action h4{
    margin: 0;
    font-size: 18px;
    color: #f9faf8;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    /* border: 2px solid green; */

}
.action-container a{
    color: #f9faf8;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px 16px;
    font-size: 16px;
}

footer{
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    font-weight: 300;
    margin: 25px;
}


/* borders ------------------------ */
/*  
section {
    border: 2px solid blue;
}
header{
    border: 2px solid yellow;
}
nav{
    border: 1px solid green;
}
ul{
    border: 2px solid red;
}
article{
    border: 2px solid red;
}
li{
    border: 1px solid purple;
}
.hero-text,
.image{
    border: 2px solid green;
}
*/
/* -------------------------------- */

